* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

video#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.3;
}

body {
    background: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 150px;
    height: 150px;
    margin-left: 150px;
}

header nav ul {
    display: flex;
    margin-right: 150px;
    gap: 66px;
}

li a img {
    width: 30px;
    height: 30px;
}

.content {
    margin-top: 10px;
}

.content_text {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
}

.content_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #fde0d5;
}

.content_text p {
    font-size: 18px;
    line-height: 24px;
}

.img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.img .top-row {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 8px;
}

.img .bottom-row {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.img img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

@media (max-width: 1030px) {
    .content_text {
        max-width: 800px;
    }
}

@media (max-width: 820px) {
    .content_text p {
        font-size: 15px;
        margin: 0 auto;
        max-width: 700px;
    }

    .img .top-row,
    .img .bottom-row {
        flex-direction: row;
        margin-left: 20%;
        align-items: center;
        gap: 8px;
    }
}

@media (max-width: 600px) {
    video#video-background {
        display: none;
    }

    body {
        background: rgba(0, 0, 0, 0.99);
        width: 100%;
        overflow: auto;
    }

    header .logo {
        display: none;
    }

    header nav ul {
        margin-top: 20px;
        gap: 30px;
        margin-left: 25%;
    }

    li a img {
        width: 20px;
        height: 20px;
    }

    .content {
        margin-top: 50px;
    }

    .content h1 {
        font-size: 28px;
    }

    .content p {
        font-size: 14px;
    }

    .content_text{ 
        width: 100%;
    }

    .img {
        flex-direction: column;
    }
    
    .img .top-row,
    .img .bottom-row {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}

@media (max-width: 414px) {
.img img {
width: 250px;
margin-right: 20%;
}
}